.g-sample-header
  .g-sample-actions
    a.button.g-back.btn.btn-sm.btn-primary(href='#samples', title="Back to samples")
      i.icon-left
    button.g-download-sample.btn.btn-sm.btn-success(title="Download sample")
      i.icon-download
    if (level >= AccessType.WRITE)
      button.g-new-event.btn.btn-sm.btn-success(title="Add a new event")
        i.icon-plus
    if (level >= AccessType.ADMIN)
      button.g-edit-sample.btn.btn-sm.btn-warning(title="Edit sample")
        i.icon-pencil
    if (level >= AccessType.ADMIN)
      button.g-access-sample.g-edit-access.btn.btn-sm.btn-warning(title="Access control")
        i.icon-lock
    if (level >= AccessType.ADMIN)
      button.g-delete-sample.btn.btn-sm.btn-danger(title="Delete sample")
        i.icon-trash

  .g-sample-title.g-body-title Sample #{sample.get("name")}
  if sample.get('description')
    .g-sample-description!= sample.get('description')
  .g-sample-scan-qr
    canvas#g-sample-qr
  .g-clear-right

.g-events-list-table
  table.g-events-widget
    thead
      tr
        th Event
        th Created
        th Creator
        th Comment
        th Location
        th Actions
    tbody
      each event, index in events
        tr
          td= event.eventType
          td= formatDate(event.created, DATE_MINUTE)
          td= event.creatorName
          td= event.comment
          if (event.location && event.location.includes(','))
            td
              a(href=`https://www.openstreetmap.org/#map=18/${event.location.replace(',','/')}`)= event.location
          else
            td= event.location ? event.location : ''
          td
            if (level >= AccessType.WRITE)
              button.g-delete-event.btn.btn-sm.btn-danger(title="Delete event" id=`delete-event-${index}`)
                i.icon-trash
